@media (max-width:1200px) {
  .form{
    width: 100%;
  }
}

.socmail, .soclin, .socgit, .socinsta, .socwhat, .socadd, .socall,.socfb{
  margin:10%;
  padding: 10%;
  color: black;
  }
  
  /* .socmail:hover{
  color: #EA4335;
  } */
  
  .socinsta:hover{
  color: #E1306C;
  }
  
  .socgit:hover{
  color: #333333;
  }
  
  .soclin:hover{
  color: #0077B5;
  }
  .socwhat:hover{
  color: #25D366;
  }

  .socfb:hover{
    color: #4267B2;
    }

  